<div class="searchform">
  <form id="formsearch" name="formsearch" method="post" action="#">
    <span>
    <input name="editbox_search" class="editbox_search" id="editbox_search" maxlength="80" value="Search our site:" type="text" />
    </span>
    <input name="button_search" src="/images/search.gif" class="button_search" type="image" />
  </form>
</div>
<div class="clr"></div>